body {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-weight: 700;
    font-size: 58px;
    color: rgba(255, 255, 255, 1);
}

p {
    margin-top: -20px;
    font-weight: 400;
    font-size: 26px;
    color: rgba(255, 255, 255, 0.9);
}

video {
    width: 50vw;
    margin-bottom: 5vh;
    height: calc(50vw * 0.5);
    background: black;
    border-radius: 10px;
}

#status_screen {
    margin-top: 50vh;
    margin-left: 7.5vw;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#players {
    font-weight: 700;
    font-size: 28px;
    color: rgba(255, 255, 255, 1);
}

#game_status {
    margin-top: -20px;
    font-weight: 400;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.9);
}

#gesture_image {
    font-size: 256px;
    color: rgba(255, 255, 255, 1);
}

#camera_pick {
    position: fixed;
    bottom: 2vw;
    right: 2vw;
    background: none;
    border: none;
    cursor: pointer;
}

#camera_pick svg {
    width: 32px;
    height: 32px;
}

@media only screen and (max-device-width: 480px) {
    body {
        flex-direction: column;
    }

    h1 {
        font-size: 28px;
    }

    p {
        font-size: 18px;
    }

    video {
        width: 80vw;
        height: calc(80vw * 0.6);
    }

    #status_screen {
        width: 80vw;
        margin-top: 0vh;
        margin-left: 0vw;
        margin-bottom: 2vh;
    }

    #players {
        font-size: 18px;
    }

    #game_status {
        font-size: 16px;
    }

    #gesture_image {
        font-size: 128px;
        margin-top: 20px;
    }
}