h1 {
    font-weight: 700;
    font-size: 58px;
    color: rgba(255, 255, 255, 1);
}

p {
    margin-top: -20px;
    font-weight: 400;
    font-size: 26px;
    color: rgba(255, 255, 255, 0.9);
}

#buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    width: 360px;
    padding: 12px 0px 12px 0px;
    margin-top: 16px;
    text-align: center;
    font-weight: 600;
    font-size: 26px;
    color: #000000;
    background: #ffffff;
    border-radius: 15px;
    text-decoration: none;
    transition: 0.25s;
}

.button:hover {
    background: #2bdda2;
    text-decoration: underline;
}

input {
    width: 360px;
    padding: 4px;
    font-size: 28px;
    color: #000000;
    background: #ffffff;
    border-radius: 15px;
    text-align: left;
}

@media only screen and (max-device-width: 480px) {
    h1 {
        font-size: 28px;
    }

    p {
        font-size: 18px;
    }

    .button {
        font-size: 22px;
        width: 280px;
        padding: 10px 0px 10px 0px;
    }
}