<!DOCTYPE html>
<html>
    <head>
        <title>Kámen, nůžky, papír</title>
    </head>
    <body>
        <ul id="deviceList"></ul>
    </body>
</html>

<style>
    html {
        background-color: #383838;
        overflow: hidden;
    }

    body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
</style>

<script type="text/javascript">
    window.addEventListener("load", (event) => {
        navigator.mediaDevices.enumerateDevices()
            .then(function(devices) {
            videoDevices = devices.filter(function(device) {
                return device.kind === 'videoinput';
            });

            if (videoDevices.length <= 0){
                throw new Error('Žádná kamera nenalezena.');
            }

            const urlParams = new URLSearchParams(window.location.search);
            const name = urlParams.get("name");
            if (videoDevices.length > 1){
                var deviceList = document.getElementById("deviceList");

                videoDevices.forEach(function(device, index) {
                    console.log(device);
                    var listItem = document.createElement("li");
                    listItem.textContent = "Zařízení " + index;
                    listItem.onclick = function() {
                        location.href=`/game?name=${name}&camera=${index}`;
                    };
                    deviceList.appendChild(listItem);
                });
            }
            else {
                location.href = `/game?name=${name}&camera=0`;
            }
        });
    });
</script>