body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    margin-bottom: 15px;
    color: white;
    font-size: 58px;
}

p {
    margin-top: 5vh;
    margin-bottom: 10px;
    color: white;
    font-size: 26px;
}

ul {
    list-style: none;
    margin-bottom: 10vh;
}

li {
    color: white;
    font-size: 22px;
    margin-top: 10px;
}

li:hover {
    color: aqua;
    text-decoration: underline;
    cursor: pointer;
}

@media only screen and (max-device-width: 480px) {
    h1 {
        font-size: 28px;
    }

    p {
        font-size: 20px;
        margin-top: 1vh;
    }

    li {
        margin-top: 20px;
        font-size: 16px;
    }
}